# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

os: osx
osx_image: xcode10.2
branches:
  only:
    - testRun
addons:
  ssh_known_hosts: 192.30.253.112
before_install:
  - gem install cocoapods
  - pod install --project-directory=Example
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - pod lib lint